
body{
    background-color: rgb(5, 5, 5);
    color: white;
}
/*.bg{
  
  background-repeat: no-repeat;
  background-size: 2000px auto;
  height: 700px;
  width: auto;
  
}*/

.first-section{
    margin-top: 70px;
}
.top{
    margin-top: 0px;
    position: relative;
    bottom: 50px;
   

}

.nav-link{
  color: white;
  font-family: Roboto, Lato, Open Sans, Montserrat, Georgia, Playfair Display Bold;
  font: bold;
  font-weight: 500;
}
#Akan{
font-family:Roboto, Lato, Open Sans, Montserrat, Georgia, Playfair Display Bold;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100px;
color:whitesmoke;
position: relative;
bottom: 40px;

}

#desc{

font-family:Roboto, Lato, Open Sans, Montserrat, Georgia, Playfair Display italic ;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
color:whitesmoke;


}
.image-1{
  height: 600px;
  width: auto;
  border-radius: 60%;
  position: relative;
  bottom: 160px;
}

.second-section{
/* */
 padding: 100px;
 background-color: rgb(73, 64, 64);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: black;
  }
  #lorem{
      padding: 100px;
  }