
body{
    background-color: rgb(43, 38, 38);
    color: white;
}
.img-one{
    width: auto;
    height: 700px;
}
.first-section{
    margin-top: 70px;
}
.top{
    margin-top: 0px;
    position: relative;
    bottom: 50px;

}
